In [ ]:
# colab imports
!pip install geopandas
!pip install mapclassify

import geopandas as gpd
from shapely.geometry import Point, Polygon
import matplotlib.pyplot as plt
import pandas as pd
import mapclassify as mc

from google.colab import drive
import pandas as pd
import numpy as np
from datetime import datetime as dt
import requests
import urllib.parse

In [ ]:
# import year file
GDF14 = pd.read_pickle("/content/drive/MyDrive/Junior Year/IW 07/Processed Gun Archive + County Data/2014.pkl")

In [ ]:
# simple number analysis
GDF14.nlargest(5, 'numIncidents')

      STATEFP  ...                                       incidentList
GEOID          ...
17031      17  ...  [[1/1/2014, 0, 4, 41.7035, -87.6259, 1.0, 3::2...
42101      42  ...  [[1/1/2014, 0, 1, 39.9641, -75.1916, 1.0, 0::1...
11001      11  ...  [[1/1/2014, 0, 0, 38.9275, -77.0089, 1.0, nan,...
48201      48  ...  [[1/1/2014, 0, 0, 29.7654, -95.3663, 1.0, nan,...
06001      06  ...  [[1/4/2014, 1, 0, 37.7759, -122.22200000000001...

[5 rows x 6 columns]

In [ ]:
# load county populations
popDF = pd.read_csv("/content/drive/MyDrive/Junior Year/IW 07/2016PopEstimates.csv")
GDF14 = GDF14.assign(POPINC=pd.Series(np.zeros(len(GDF14))).values)
GDF14 = GDF14.assign(POP=pd.Series(np.zeros(len(GDF14))).values)

popDF.set_index('GEOID', inplace=True)
popDF.head()

       STATE  COUNTY   STNAME  POPESTIMATE2016
GEOID
1000       1       0  Alabama          4864745
1001       1       1  Alabama            55242
1003       1       3  Alabama           207712
1005       1       5  Alabama            25819
1007       1       7  Alabama            22576

In [ ]:
# calculate incidents scaled by population
for i in GDF14.index:
  try:
    GDF14.loc[i, 'POPINC'] = GDF14.loc[i, 'numIncidents'] / popDF.loc[int(i), 'POPESTIMATE2016']
    GDF14.loc[i, 'POP'] = popDF.loc[int(i), 'POPESTIMATE2016']
  except KeyError:
    pass
  
GDF14.nlargest(5, 'POPINC')

      STATEFP COUNTYFP  ...    POPINC       POP
GEOID                   ...
48261      48      261  ...  0.002304     434.0
22071      22      071  ...  0.001990  391977.0
28075      28      075  ...  0.001719   77366.0
29510      29      510  ...  0.001344  312389.0
11001      11      001  ...  0.001222  686575.0

[5 rows x 8 columns]